<!DOCTYPE html>
<html x-data="data()" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Subir Archivo</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="d-flex justify-content-center align-items-center vh-100">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Recuperar Archivo</h2>
                    <form method="POST" enctype="multipart/form-data"  th:action="@{/auth/subirArchivo}">
					    <input type="file" name="archivo" required />
					    <button type="submit">Subir Archivo</button>
					</form>
                    <p th:if="${error}" th:text="${error}" class="text-danger mt-3 text-center"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
