<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{content-page/plantilla}">
<head>
</head>
<body>
    <div class="container" layout:fragment="espaciocontenidohtml">
        <main class="h-full pb-16 overflow-y-auto">
            <div class="container flex flex-col items-center px-6 mx-auto">
                <img th:src="@{/landing/images/banner-img.png}" class="img-fluid">
                <h2 class="text-6xl font-semibold text-gray-700 dark:text-gray-200">
                    AYUDANOS ALIVIANAR SU ESTRES
                </h2>
            </div>
        </main>
    </div>
</body>
</html>