<!DOCTYPE html>
<html x-data="data()" xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{content-page/plantilla}">
<head>

<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">


<style>
.readonly-select {
	pointer-events: none; /* Evitar interacciones del usuario */
	background-color: #e9ecef;
	/* Color de fondo para parecer deshabilitado */
	color: #6c757d; /* Color de texto para parecer deshabilitado */
}

.disabled-link {
	pointer-events: none; /* Desactiva los clics */
	color: gray;
	/* Cambia el color del texto para que parezca deshabilitado */
	cursor: not-allowed; /* Cambia el cursor al pasar sobre el enlace */
	text-decoration: none; /* Remueve el subrayado del enlace */
}

.bg-yellow {
	background-color: yellow;
}
#map {
	height: 250px;
	width: 100%;
}
</style>

<script	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOTcLb_EU2ud-xK2_Rormqf4lm5xH_S5w"></script>

</head>
<body>

	<div layout:fragment="espaciocontenidohtml">
		<main class="h-full overflow-y-auto">
			<div class="container px-6 mx-auto grid comic-font">
				<h2
					class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
					Paseo</h2>
				<div
					class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800">
					
					<div id="map"></div>



					<form th:action="@{/paseo/insertar}" th:object="${nuevo}"
						class="form-material" method="post">


						<div
							class="px-4 py-3 mb-1 bg-white rounded-lg shadow-md dark:bg-gray-800">

							<div
								class="readonly-select block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-multiselect focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray">
								<label class="float-label">Fecha del paseo</label> <input
									type="datetime-local" name="fecha"
									class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-multiselect focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
									th:field="*{fecharealinicio}" required> <span
									class="form-bar"></span>
							</div>

							
							<h2	class="flex flex-col items-center justify-center"> Datos del Paseador </h2>		
							<div class="grid grid-cols-1 md:grid-cols-2 gap-4 p-2 w-full"> 
							    <div class="block mt-1 text-sm">
							    	
							    	<label class="block mt-1 text-sm">  
										<select id="personaSelect" th:field="*{idpersonapasedor.id}" required 
										class="readonly-select block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-multiselect focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray">
											<option value="0" selected>Seleccione una persona</option>
											<option th:each="persona : ${persona}"
													th:text="'Nombres y Apellidos: '+ ${persona.nombres}+' '+${persona.apellidos}"
													th:value="${persona.id}">
											</option>
		
									</select>
									</label>
									<label th:text="'Identificación: '+*{idpersonapasedor.identificacion}"
							            class="readonly-select block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input">
							        </label>
							    	
							        
							    </div>
							    <div class="block text-sm">
							    
							    	<label th:text="'Celular: '+*{idpersonapasedor.celular}"
							            class="readonly-select block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input">
							        </label>
							        <label th:text="'Email: '+*{idpersonapasedor.email}"
							            class="readonly-select block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input">
							        </label>
							    	
							       
							    </div>
							</div>
							
							
							
							<h2	class="flex flex-col items-center justify-center"></h2>			
							<h2	class="flex flex-col items-center justify-center"> Dueño de la Mascota </h2>							
						
							
							<div class="grid grid-cols-1 md:grid-cols-2 gap-4 p-2 w-full"> 
							    <div class="block mt-1 text-sm">
							        <label class="block w-full">  
							            <select id="personaSelect"
							                th:field="*{idpersonacliente.id}" required
							                class="readonly-select block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-multiselect focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray">
							                <option value="0" selected>Seleccione una persona</option>
							                <option th:each="persona : ${persona}"
							                    th:text="'Nombres y Apellidos: '+${persona.nombres}+' '+${persona.apellidos}"
							                     th:data-nombres="'NombresApellidos: '+${persona.nombres}+' '+${persona.apellidos}" 
							                    th:value="${persona.id}"></option>
							            </select>
							        </label>
							        <label th:text="'Identificación: '+*{idpersonacliente.identificacion}"
							            class="readonly-select block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input">
							        </label>							        
							        
							        <label th:each="ubicacion : ${ubicacion}"
							                    th:text="'Latitud: '+${ubicacion.latitud}"
							            class="readonly-select block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input">
							        </label>
							    </div>
							    <div class="block mt-1 text-sm">
							        <label th:text="'Celular: '+*{idpersonacliente.celular}"
							            class="readonly-select block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input">
							        </label>
							        <label th:text="'Email: '+*{idpersonacliente.email}"
							            class="readonly-select block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input">
							        </label>
							        <label id="ubicacion" th:each="ubicacion : ${ubicacion}"
							        			th:text="'Longitud: '+${ubicacion.longitud}"
							                    th:data-latitud="${ubicacion.latitud}" 
       											th:data-longitud="${ubicacion.longitud}" 
							            class="readonly-select block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input">
							        </label>
							    </div>
							</div>
							<h2	class="flex flex-col items-center justify-center"> Datos de la mascota </h2>							
							
							<div class="grid grid-cols-1 md:grid-cols-2 gap-4 p-2 w-full"> 
							    <div class="block mt-1 text-sm">
							    	<label class="block mt-1 text-sm">
							    		<select th:field="*{idMascota.idmascota}" required
											class=" readonly-select block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-multiselect focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray">
												<option value="0" selected>Seleccione una mascota</option>
												<option th:each="mascota : ${mascota}"
														th:text="'Nombre: '+${mascota.nombre}" 
														th:value="${mascota.idmascota}">
												</option>
			
										</select>
										</label>
										<label th:text="'Edad: '+*{idMascota.edad}"
								            class="readonly-select block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input">
								        </label>
								        <label th:text="'Observación: '+*{idMascota.observacion}"
								            class="readonly-select block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input">
								        </label>
							        
							    </div>
							    <div class="block mt-1 text-sm">
							    	<img height="100px" width="200px" th:src="*{idMascota.urlPhotoPet}" alt="Descripción de la imagen" />
							       
							    </div>
							</div>

							
							<h2
								class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200"></h2>

							<label class="block mt-1 text-sm"> <span
								class="text-gray-700 dark:text-gray-400"> Tiempo a pasear
							</span> <select th:field="*{idtarifario.id}" required
								class="readonly-select block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-multiselect focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray">
									<option value="0" selected>Seleccione una tarifa</option>
									<option th:each="tarifario : ${tarifario}"
										th:text="${tarifario.nombre}+ '  valor : $'+${tarifario.precio}"
										th:value="${tarifario.id}"></option>

							</select>
							</label>

							<h2
								class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200"></h2>
							<label class="block text-sm"> <span
								class="text-gray-700 dark:text-gray-400">Observacion del
									paseo</span> <input
								class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
								placeholder="observacion paseo" th:field="*{observacionpaseo}" />

							</label>

							<h2
								class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200"></h2>

							<label class="block mt-1 text-sm"> <span
								class="text-gray-700 dark:text-gray-400">Estado </span> <select
								id="estadoSelect" th:field="*{estado}" required
								class=" readonly-select block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-multiselect focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray">

									<option th:text="PENDIENTE" th:value="PENDIENTE"></option>
									<option th:text="APROBADO" th:value="APROBADO"></option>
									<option th:text="RECHAZADO" th:value="RECHAZADO"></option>
									<option th:text="FINALIZADO" th:value="FINALIZADO"></option>

							</select>



							</label>

							<h2
								class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200"></h2>

							<div class="flex space-x-4">
								<div>
									<button id="aprobarBoton" onclick="cambiarEstadoAprobado()"
										type="submit"
										class="bg-cream flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-black-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray">
										<svg class="w-5 h-5 mr-2" aria-hidden="true"
											fill="currentColor" viewBox="0 0 20 20">
                   					 <path fill-rule="evenodd"
												d="M10 18a8 8 0 100-16 8 8 0 000 16zm-1-4.293l-3.707-3.707 1.414-1.414L9 11.586l4.293-4.293 1.414 1.414L9 13.707z"
												clip-rule="evenodd"></path>
                				</svg>
										Aprobar
									</button>
								</div>

								<div>
									<button id="rechazarBoton" onclick="cambiarEstadoRechazado()"
										type="submit"
										class="bg-cream flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-black-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray">
										<i> <svg class="w-5 h-5" aria-hidden="true"
												fill="currentColor" viewBox="0 0 20 20">
                              							<path fill-rule="evenodd"
													d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
													clip-rule="evenodd"></path>
                            </svg>
										</i> Rechazar
									</button>
								</div>

							</div>


						</div>

						<input type="hidden" th:field="*{id}">



					</form>


					<script>
						document.addEventListener('DOMContentLoaded',
								function() {
									DeshabilitarSelect('estadoSelect');
								});

						document.addEventListener('DOMContentLoaded',
								function() {
									DeshabilitarSelect('personaSelect');
								});
					</script>
					<script>
						function cambiarEstadoAprobado() {
							document.getElementById('estadoSelect').value = 'APROBADO';
						}

						function cambiarEstadoRechazado() {
							document.getElementById('estadoSelect').value = 'RECHAZADO';
						}

						window.onload = function() {
							var estado = document
									.getElementById('estadoSelect').value;
							var aprobarBoton = document
									.getElementById('aprobarBoton');
							var rechazarBoton = document
									.getElementById('rechazarBoton');

							if (estado === 'APROBADO' || estado === 'RECHAZADO') {
								aprobarBoton.onclick = function(event) {
									event.preventDefault(); // Evita la navegación
								};
								aprobarBoton.classList.add('disabled-link');
								aprobarBoton// Añade una clase para cambiar el estilo

								rechazarBoton.onclick = function(event) {
									event.preventDefault(); // Evita la navegación
								};
								rechazarBoton.classList.add('disabled-link');
								rechazarBoton// Añade una clase para cambiar el estilo
							}
						};
					</script>
					<script th:inline="javascript">
						async function initMap() {							
							var label = document.getElementById('ubicacion');
						    var lat = parseFloat(label.getAttribute('data-latitud'));
						    var lng = parseFloat(label.getAttribute('data-longitud'));
						    
							var map = new google.maps.Map(document.getElementById('map'), {
								zoom: 14,
								center: { lat: lat, lng: lng } 
							});
							var marker = new google.maps.Marker({
						        position: { lat: lat, lng: lng }, 
						        map: map,
						        title: 'Ubicacion del cliente'
						    });
						}
						google.maps.event.addDomListener(window, 'load', initMap);
					</script>
					</div>
			</div>
		</main>
	</div>
</body>
</html>